<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=divice-width,intial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>ವೈDHया</title>
</head>

<body>
    <div class="navbar">
        <div class="logo-name">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            <h1 class="heading">ವೈDHया</h1>
        </div>
    </div>
    
    <div class="mid-box">
        <div class="wrapper">
            <form method="POST" action="/forgotpassword/datafound" onsubmit="return forgot();">

                <div class="text-name">
                    <h2 data-translate>Forgot Password </h2>
                </div>
                <br>
                <div class="input-box">
                    <label for="login-username" class="lflu" data-translate>Enter your username or email</label>
                    <input type="text" required="required" id="login-username" name="login-username">
                </div>
                <br>
                
                <button type="submit" class="btn" data-translate>Next</button><br>

                {% if message %}
                    <h4 class="h4warning" data-translate>{{message}}</h4>
                {% endif %}
            </form>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/forgotpassword.js') }}"></script>
</body>

</html>