<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/predic.css') }}">
  <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/logo.ico') }}">
  <title>ವೈDHया</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="navbar">
    <div class="logo-name">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
      <h1 class="heading">ವೈDHया</h1>
  </div>
    <a href="{{url_for('dashboard')}}"><button data-translate>Dashboard</button></a>
  </div>

  <div class="main_div">
    <h1 class="heading" data-translate>You Might have Symptoms of: </h1>

    {%if symp%}
    <div type="text" id="textBox" name="textBox" class="output-box">
      <p style="color: rgb(0, 0, 0); font-size: 30px;" data-translate>{{ symp }}</p>
    </div>
    {%endif%}
  </div>
  <script src="{{ url_for('static', filename='js/predic.js') }}"></script>
</body>

</html>